*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
     position: absolute;
     left: 50%;
     top: 7%;
     font-size: 40px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     transform: translate(-50%,-50%);
     letter-spacing: 10px;
}
.box{
    width: 70%;
    height: 60%;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 10px black,0px -10px 10px #999;
}
.image-container{
    width:3000px;
    height:300px;
    padding: 20px 0px;
    display: flex;
    position: absolute;
    left: 90px;
    align-items: center;
    justify-content: center;
    transition: .5s;

}
.image-container .image-box{
    width: 20%;
    height: 80%;
    background-color: black;
    margin: 0px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px black , 0px -5px 5px #999;
    overflow: hidden;

}
.image-container .image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.5);
    cursor: pointer;
    transition: .5s;
}
.image-container .image-box img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}
.left{
    width: 90px;
    height: 100%;
    background-color:white;
    z-index: 999;
    position: absolute;
    left: 0;
}
.right{
    width: 90px;
    height: 100%;
    background-color:white;
    z-index: 999;
    position: absolute;
    right: 0;
}
.left,
.right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left button,.right button{
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    color: white;
    border-radius: 40%;
    outline: none;
    border: none;
    transition: .5s;
}
.left button:hover,
.right button:hover{
    background-color: #999;
    color: white;
    font-weight: bold;
    font-size: 20px;
}